name: Metrics
on:
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ github.token }}
          plugin_languages: yes
          plugin_languages_limit: 8

